.container {
    width: 100%;
  }
  
.cabecalho{
   display: flex;
   justify-content: center; 
   height: 180px;
   width: 100%;
   background-color: #e5f1f2;
}

  .logoContainer {
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .spaceSchool {
    text-align: center;
    color: #181C1F;
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
  }
  
  .bottomContainer {
    width: 80%;
    align-items: center;
    margin-top: 25px;
  }
  
  .loginButton {
    width: 100%;
    background-color:#e5f1f2;
    padding: 12px 20px;
    border-radius: 25000px;
    margin-bottom: px;
    margin-top: 25px;
  }
  
  .loginButtonText {
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
  
  .registerLinkContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    bottom: 0;
    width: 200px;
    margin-bottom: 10px;
  }
  
  .registerLinkText {
    color: #4fe0e9;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .link {
    margin-bottom: 10px;
  }
  
.main{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  .formContainer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
  }
  
  .input {
    height: 30px;
    width: 100%;
    border-color: #E5E8ED;
    background-color: #E5E8ED;
    border-width: 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 60px;
    font-size: 18px;
  }
  
  .iconMail {
    position: absolute;
    left: 20px;
    top: 12px;
  }
  
  .iconLock {
    position: absolute;
    left: 20px;
    top: 70px;
  }
  
  .iconSecret {
    position: absolute;
    right: 20px;
    top: -50px;
  }
  
  .forgotPasswordButton {
    align-items: flex-end;
  }
  
  .forgotPasswordText {
    color: #4fe0e9;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
  }